web/WEB-INF/wsdl/localhost_4392/ServicioMensajeria.asmx.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="addPaquetes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Codigo" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Direccion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pais" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Departamento" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CodPosRemitente" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="CodPosDestinatario" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Peso" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="CostoPorGramos" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addPaquetesResponse">
        <s:complexType />
      </s:element>
      <s:element name="showPackages">
        <s:complexType />
      </s:element>
      <s:element name="showPackagesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="showPackagesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addTDP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Codigo" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Direccion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pais" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Departamento" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CodPosRemitente" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="CodPosDestinatario" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Peso" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="CostoPorGramos" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="Cuota" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addTDPResponse">
        <s:complexType />
      </s:element>
      <s:element name="showTDP">
        <s:complexType />
      </s:element>
      <s:element name="showTDPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="showTDPResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addNightPackage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Codigo" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Direccion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pais" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Departamento" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CodPosRemitente" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="CodPosDestinatario" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Peso" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="CostoPorGramos" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="Cuota" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addNightPackageResponse">
        <s:complexType />
      </s:element>
      <s:element name="showNoghtPackages">
        <s:complexType />
      </s:element>
      <s:element name="showNoghtPackagesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="showNoghtPackagesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClientesADD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IdC" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="NombreC" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DirC" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TelC" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EmailC" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="tipoC" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClientesADDResponse">
        <s:complexType />
      </s:element>
      <s:element name="ClientesSHOW">
        <s:complexType />
      </s:element>
      <s:element name="ClientesSHOWResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClientesSHOWResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClientesSEARCH">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClientesSEARCHResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClientesSEARCHResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClientesEDIT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClientesEDITResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClientesEDITResult" type="tns:Customer" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Customer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TipoCliente" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IdCliente" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="NombreCliente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DirCliente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Telefono" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ClientesTYPESEARCH">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tipo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClientesTYPESEARCHResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClientesTYPESEARCHResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addBill">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="c" type="tns:Customer" />
            <s:element minOccurs="0" maxOccurs="1" name="p" type="tns:ArrayOfPackages" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPackages">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Packages" nillable="true" type="tns:Packages" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Packages">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ValorEnvio" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Codigo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Direccion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Pais" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Departamento" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CodPosRemitente" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CodPosDestinatario" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Peso" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="CostoPorGramos" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="addBillResponse">
        <s:complexType />
      </s:element>
      <s:element name="showBill">
        <s:complexType />
      </s:element>
      <s:element name="showBillResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="showBillResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="addPaquetesSoapIn">
    <wsdl:part name="parameters" element="tns:addPaquetes" />
  </wsdl:message>
  <wsdl:message name="addPaquetesSoapOut">
    <wsdl:part name="parameters" element="tns:addPaquetesResponse" />
  </wsdl:message>
  <wsdl:message name="showPackagesSoapIn">
    <wsdl:part name="parameters" element="tns:showPackages" />
  </wsdl:message>
  <wsdl:message name="showPackagesSoapOut">
    <wsdl:part name="parameters" element="tns:showPackagesResponse" />
  </wsdl:message>
  <wsdl:message name="addTDPSoapIn">
    <wsdl:part name="parameters" element="tns:addTDP" />
  </wsdl:message>
  <wsdl:message name="addTDPSoapOut">
    <wsdl:part name="parameters" element="tns:addTDPResponse" />
  </wsdl:message>
  <wsdl:message name="showTDPSoapIn">
    <wsdl:part name="parameters" element="tns:showTDP" />
  </wsdl:message>
  <wsdl:message name="showTDPSoapOut">
    <wsdl:part name="parameters" element="tns:showTDPResponse" />
  </wsdl:message>
  <wsdl:message name="addNightPackageSoapIn">
    <wsdl:part name="parameters" element="tns:addNightPackage" />
  </wsdl:message>
  <wsdl:message name="addNightPackageSoapOut">
    <wsdl:part name="parameters" element="tns:addNightPackageResponse" />
  </wsdl:message>
  <wsdl:message name="showNoghtPackagesSoapIn">
    <wsdl:part name="parameters" element="tns:showNoghtPackages" />
  </wsdl:message>
  <wsdl:message name="showNoghtPackagesSoapOut">
    <wsdl:part name="parameters" element="tns:showNoghtPackagesResponse" />
  </wsdl:message>
  <wsdl:message name="ClientesADDSoapIn">
    <wsdl:part name="parameters" element="tns:ClientesADD" />
  </wsdl:message>
  <wsdl:message name="ClientesADDSoapOut">
    <wsdl:part name="parameters" element="tns:ClientesADDResponse" />
  </wsdl:message>
  <wsdl:message name="ClientesSHOWSoapIn">
    <wsdl:part name="parameters" element="tns:ClientesSHOW" />
  </wsdl:message>
  <wsdl:message name="ClientesSHOWSoapOut">
    <wsdl:part name="parameters" element="tns:ClientesSHOWResponse" />
  </wsdl:message>
  <wsdl:message name="ClientesSEARCHSoapIn">
    <wsdl:part name="parameters" element="tns:ClientesSEARCH" />
  </wsdl:message>
  <wsdl:message name="ClientesSEARCHSoapOut">
    <wsdl:part name="parameters" element="tns:ClientesSEARCHResponse" />
  </wsdl:message>
  <wsdl:message name="ClientesEDITSoapIn">
    <wsdl:part name="parameters" element="tns:ClientesEDIT" />
  </wsdl:message>
  <wsdl:message name="ClientesEDITSoapOut">
    <wsdl:part name="parameters" element="tns:ClientesEDITResponse" />
  </wsdl:message>
  <wsdl:message name="ClientesTYPESEARCHSoapIn">
    <wsdl:part name="parameters" element="tns:ClientesTYPESEARCH" />
  </wsdl:message>
  <wsdl:message name="ClientesTYPESEARCHSoapOut">
    <wsdl:part name="parameters" element="tns:ClientesTYPESEARCHResponse" />
  </wsdl:message>
  <wsdl:message name="addBillSoapIn">
    <wsdl:part name="parameters" element="tns:addBill" />
  </wsdl:message>
  <wsdl:message name="addBillSoapOut">
    <wsdl:part name="parameters" element="tns:addBillResponse" />
  </wsdl:message>
  <wsdl:message name="showBillSoapIn">
    <wsdl:part name="parameters" element="tns:showBill" />
  </wsdl:message>
  <wsdl:message name="showBillSoapOut">
    <wsdl:part name="parameters" element="tns:showBillResponse" />
  </wsdl:message>
  <wsdl:portType name="ServicioEnvioDePaquetesSoap">
    <wsdl:operation name="addPaquetes">
      <wsdl:input message="tns:addPaquetesSoapIn" />
      <wsdl:output message="tns:addPaquetesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="showPackages">
      <wsdl:input message="tns:showPackagesSoapIn" />
      <wsdl:output message="tns:showPackagesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="addTDP">
      <wsdl:input message="tns:addTDPSoapIn" />
      <wsdl:output message="tns:addTDPSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="showTDP">
      <wsdl:input message="tns:showTDPSoapIn" />
      <wsdl:output message="tns:showTDPSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="addNightPackage">
      <wsdl:input message="tns:addNightPackageSoapIn" />
      <wsdl:output message="tns:addNightPackageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="showNoghtPackages">
      <wsdl:input message="tns:showNoghtPackagesSoapIn" />
      <wsdl:output message="tns:showNoghtPackagesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClientesADD">
      <wsdl:input message="tns:ClientesADDSoapIn" />
      <wsdl:output message="tns:ClientesADDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClientesSHOW">
      <wsdl:input message="tns:ClientesSHOWSoapIn" />
      <wsdl:output message="tns:ClientesSHOWSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClientesSEARCH">
      <wsdl:input message="tns:ClientesSEARCHSoapIn" />
      <wsdl:output message="tns:ClientesSEARCHSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClientesEDIT">
      <wsdl:input message="tns:ClientesEDITSoapIn" />
      <wsdl:output message="tns:ClientesEDITSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClientesTYPESEARCH">
      <wsdl:input message="tns:ClientesTYPESEARCHSoapIn" />
      <wsdl:output message="tns:ClientesTYPESEARCHSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="addBill">
      <wsdl:input message="tns:addBillSoapIn" />
      <wsdl:output message="tns:addBillSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="showBill">
      <wsdl:input message="tns:showBillSoapIn" />
      <wsdl:output message="tns:showBillSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicioEnvioDePaquetesSoap" type="tns:ServicioEnvioDePaquetesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="addPaquetes">
      <soap:operation soapAction="http://tempuri.org/addPaquetes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="showPackages">
      <soap:operation soapAction="http://tempuri.org/showPackages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addTDP">
      <soap:operation soapAction="http://tempuri.org/addTDP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="showTDP">
      <soap:operation soapAction="http://tempuri.org/showTDP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addNightPackage">
      <soap:operation soapAction="http://tempuri.org/addNightPackage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="showNoghtPackages">
      <soap:operation soapAction="http://tempuri.org/showNoghtPackages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientesADD">
      <soap:operation soapAction="http://tempuri.org/ClientesADD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientesSHOW">
      <soap:operation soapAction="http://tempuri.org/ClientesSHOW" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientesSEARCH">
      <soap:operation soapAction="http://tempuri.org/ClientesSEARCH" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientesEDIT">
      <soap:operation soapAction="http://tempuri.org/ClientesEDIT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientesTYPESEARCH">
      <soap:operation soapAction="http://tempuri.org/ClientesTYPESEARCH" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addBill">
      <soap:operation soapAction="http://tempuri.org/addBill" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="showBill">
      <soap:operation soapAction="http://tempuri.org/showBill" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicioEnvioDePaquetesSoap12" type="tns:ServicioEnvioDePaquetesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="addPaquetes">
      <soap12:operation soapAction="http://tempuri.org/addPaquetes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="showPackages">
      <soap12:operation soapAction="http://tempuri.org/showPackages" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addTDP">
      <soap12:operation soapAction="http://tempuri.org/addTDP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="showTDP">
      <soap12:operation soapAction="http://tempuri.org/showTDP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addNightPackage">
      <soap12:operation soapAction="http://tempuri.org/addNightPackage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="showNoghtPackages">
      <soap12:operation soapAction="http://tempuri.org/showNoghtPackages" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientesADD">
      <soap12:operation soapAction="http://tempuri.org/ClientesADD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientesSHOW">
      <soap12:operation soapAction="http://tempuri.org/ClientesSHOW" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientesSEARCH">
      <soap12:operation soapAction="http://tempuri.org/ClientesSEARCH" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientesEDIT">
      <soap12:operation soapAction="http://tempuri.org/ClientesEDIT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientesTYPESEARCH">
      <soap12:operation soapAction="http://tempuri.org/ClientesTYPESEARCH" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addBill">
      <soap12:operation soapAction="http://tempuri.org/addBill" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="showBill">
      <soap12:operation soapAction="http://tempuri.org/showBill" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioEnvioDePaquetes">
    <wsdl:port name="ServicioEnvioDePaquetesSoap" binding="tns:ServicioEnvioDePaquetesSoap">
      <soap:address location="http://localhost:4392/ServicioMensajeria.asmx" />
    </wsdl:port>
    <wsdl:port name="ServicioEnvioDePaquetesSoap12" binding="tns:ServicioEnvioDePaquetesSoap12">
      <soap12:address location="http://localhost:4392/ServicioMensajeria.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>